<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- Web stuff below -->
    <bean id="aclDemoController" name="/acldemo.htm" class="com.heraclitus.web.AclDemoController">
        <property name="projectService" ref="projectService" />
        <property name="aclQueryService" ref="aclQueryService" />
    </bean>
    
    <!--
        no 'id' required, HandlerMapping beans are automatically detected by
        the DispatcherServlet
    -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value>
                /*acldemo.htm=aclDemoController
                /*.htm=urlController
            </value>
        </property>
    </bean>

    <bean id="urlController"
        class="org.springframework.web.servlet.mvc.UrlFilenameViewController" />

    <!--
        as we have our jsp in an internal place forcing all requests through
        spring, use viewResolver to save us making reference to internal
        structure everywhere e.g. /WEB-INF/jsp/
    -->
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>
